
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" href="~/Public/css/style.css">
    <title>Document</title>
</head>

<body>
    <section id="register">
        <div class="row m-0 justify-content-end">
            <div class="col-6">
                <div class="col-7 form">
                    <p class="header-form-register">New Buddy!</p>
                    <form action="">
                        <p>Email address / Mobile</p>
                        <input name="email" type="text" class="form-control">
                        <p>Password</p>
                        <input name="password" type="password" class="form-control">
                        <p>Promocode</p>
                        <input name="promocode" type="text" class="form-control">
                        <button type="submit" class="form-control">SING UP</button>
                    </form>
                    <p class="text-center">Already have an Account? <a href="#">Sing In</a></p>
                </div>
            </div>
        </div>
    </section>




    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="~/Public/js/script.js"></script>

</body>

</html>