
@{
    ViewBag.Title = "Index";
}

<!-- Start Main -->
<main>

    <section id="account" class="d-flex justify-content-center">
        <div class="wrapper">
            <div class="row">
                <div class="col-md-3">
                    <div class="account">
                        <div class="my-info">
                            <img src="~/Public/img/slider.png" alt="">
                            <h6>Əhmədov Bəhruz</h6>
                            <p>+994 55 696 55 75</p>
                            <p>ehmedovbehruz1995@mail.ru</p>
                            <small><i class="fas fa-pencil-alt"></i> EDIT</small>
                        </div>
                        <hr>
                        <div class="tab-header">
                            <ul>
                                <li tab-header="orders" style="background-color: #f3f7f8">
                                    <div class="d-flex align-items-center">
                                        <i class="fas fa-university"></i>
                                        <small>Sifarişlər</small>
                                    </div>
                                </li>
                                <li tab-header="offers">
                                    <div class="d-flex align-items-center">
                                        <i class="fas fa-percent"></i>
                                        <small>Təkliflər</small>
                                    </div>
                                </li>
                                <li tab-header="favourites">
                                    <div class="d-flex align-items-center">
                                        <i class="fas fa-heart"></i>
                                        <small>Favorilər</small>
                                    </div>
                                </li>
                                <li tab-header="payments">
                                    <div class="d-flex align-items-center">
                                        <i class="far fa-credit-card"></i>
                                        <small>Ödənişlər</small>
                                    </div>
                                </li>
                                <li tab-header="addresses">
                                    <div class="d-flex align-items-center">
                                        <i class="fas fa-map-marker-alt"></i>
                                        <small>Ünvanlar</small>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div tab-body="orders" class="d-none">
                        <h4>Past Orders</h4>
                        <div class="item">
                            <div class="row">
                                <div class="col-2">
                                    <img src="~/public/img/slider.png" alt="">
                                </div>
                                <div class="col-10 p-0">
                                    <div class="row mb-2">
                                        <div class="col-md-6">
                                            <a class="name-item" href="#">Gus's World Famous Fried Chicken</a>
                                        </div>
                                        <div class="col-md-6 d-flex justify-content-end">
                                            <a class="status-item" href="#">
                                                Dunen axsam filan vaxt catdirilib <i class="far fa-check-circle"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <p>
                                        <i class="fas fa-location-arrow"></i> 730 S Mendenhall Rd, Memphis, TN 38117,
                                        USA
                                    </p>
                                    <p>
                                        <i class="fas fa-calendar-alt"></i> ORDER #25102589748 <i class="fas fa-clock"></i> Mon, Nov 12, 6:26 PM
                                    </p>
                                    <span>
                                        Veg Masala Roll x 1, Veg Burger x 1, Veg Penne Pasta in Red Sauce x
                                        1
                                    </span>
                                    <hr>
                                    <div class="row">
                                        <div class="col-md-4 d-flex align-items-center">
                                            <p class="total">Cəmi ödənilib: <span>$300</span></p>
                                        </div>
                                        <div class="col-md-8 text-right">
                                            <a class="help btn" href="#">
                                                <i class="fas fa-headphones-alt"></i>
                                                KÖMƏK
                                            </a>
                                            <a class="reorder btn" href="#">
                                                <i class="fas fa-sync-alt"></i>
                                                REORDER
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="row">
                                <div class="col-2">
                                    <img src="~/public/img/slider.png" alt="">
                                </div>
                                <div class="col-10 p-0">
                                    <div class="row mb-2">
                                        <div class="col-md-6">
                                            <a class="name-item" href="#">Gus's World Famous Fried Chicken</a>
                                        </div>
                                        <div class="col-md-6 d-flex justify-content-end">
                                            <a class="status-item" href="#">
                                                Dunen axsam filan vaxt catdirilib <i class="far fa-check-circle"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <p>
                                        <i class="fas fa-location-arrow"></i> 730 S Mendenhall Rd, Memphis, TN 38117,
                                        USA
                                    </p>
                                    <p>
                                        <i class="fas fa-calendar-alt"></i> ORDER #25102589748 <i class="fas fa-clock"></i> Mon, Nov 12, 6:26 PM
                                    </p>
                                    <span>
                                        Veg Masala Roll x 1, Veg Burger x 1, Veg Penne Pasta in Red Sauce x
                                        1
                                    </span>
                                    <hr>
                                    <div class="row">
                                        <div class="col-md-4 d-flex align-items-center">
                                            <p class="total">Cəmi ödənilib: <span>$300</span></p>
                                        </div>
                                        <div class="col-md-8 text-right">
                                            <a class="help btn" href="#">
                                                <i class="fas fa-headphones-alt"></i>
                                                KÖMƏK
                                            </a>
                                            <a class="reorder btn" href="#">
                                                <i class="fas fa-sync-alt"></i>
                                                REORDER
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="row">
                                <div class="col-2">
                                    <img src="~/public/img/slider.png" alt="">
                                </div>
                                <div class="col-10 p-0">
                                    <div class="row mb-2">
                                        <div class="col-md-6">
                                            <a class="name-item" href="#">Gus's World Famous Fried Chicken</a>
                                        </div>
                                        <div class="col-md-6 d-flex justify-content-end">
                                            <a class="status-item" href="#">
                                                Dunen axsam filan vaxt catdirilib <i class="far fa-check-circle"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <p>
                                        <i class="fas fa-location-arrow"></i> 730 S Mendenhall Rd, Memphis, TN 38117,
                                        USA
                                    </p>
                                    <p>
                                        <i class="fas fa-calendar-alt"></i> ORDER #25102589748 <i class="fas fa-clock"></i> Mon, Nov 12, 6:26 PM
                                    </p>
                                    <span>
                                        Veg Masala Roll x 1, Veg Burger x 1, Veg Penne Pasta in Red Sauce x
                                        1
                                    </span>
                                    <hr>
                                    <div class="row">
                                        <div class="col-md-4 d-flex align-items-center">
                                            <p class="total">Cəmi ödənilib: <span>$300</span></p>
                                        </div>
                                        <div class="col-md-8 text-right">
                                            <a class="help btn" href="#">
                                                <i class="fas fa-headphones-alt"></i>
                                                KÖMƏK
                                            </a>
                                            <a class="reorder btn" href="#">
                                                <i class="fas fa-sync-alt"></i>
                                                REORDER
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div tab-body="offers" class="d-none">
                        <h4>Past Orders</h4>
                        <div class="row">
                            <div class="col-md-6 mt-4">
                                <div class="item">
                                    <div class="cart-icon d-flex m-0">
                                        <div class="img">
                                            <img src="~/Public/img/slider.png" alt="">
                                        </div>
                                        <div class="name-cart">VISA KART</div>
                                    </div>
                                    <h5 class="py-3">Ilk sifarisde 50 faiz endirim qazan</h5>
                                    <h6>
                                        "BAXRUZA100BAL" promokodundan istifade ederek ilk sifaris ucun 50 faiz
                                        endirim qazan"
                                    </h6>
                                    <div class="copy-more mt-3">
                                        <a class="mr-5" href="#">Promokodu kopyala</a>
                                        <a href="#">Etrafli</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 mt-4">
                                <div class="item">
                                    <div class="cart-icon d-flex m-0">
                                        <div class="img">
                                            <img src="~/Public/img/slider.png" alt="">
                                        </div>
                                        <div class="name-cart">VISA KART</div>
                                    </div>
                                    <h5 class="py-3">Ilk sifarisde 50 faiz endirim qazan</h5>
                                    <h6>
                                        "BAXRUZA100BAL" promokodundan istifade ederek ilk sifaris ucun 50 faiz
                                        endirim qazan"
                                    </h6>
                                    <div class="copy-more mt-3">
                                        <a class="mr-5" href="#">Promokodu kopyala</a>
                                        <a href="#">Etrafli</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 mt-4">
                                <div class="item">
                                    <div class="cart-icon d-flex m-0">
                                        <div class="img">
                                            <img src="~/Public/img/slider.png" alt="">
                                        </div>
                                        <div class="name-cart">VISA KART</div>
                                    </div>
                                    <h5 class="py-3">Ilk sifarisde 50 faiz endirim qazan</h5>
                                    <h6>
                                        "BAXRUZA100BAL" promokodundan istifade ederek ilk sifaris ucun 50 faiz
                                        endirim qazan"
                                    </h6>
                                    <div class="copy-more mt-3">
                                        <a class="mr-5" href="#">Promokodu kopyala</a>
                                        <a href="#">Etrafli</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 mt-4">
                                <div class="item">
                                    <div class="cart-icon d-flex m-0">
                                        <div class="img">
                                            <img src="~/Public/img/slider.png" alt="">
                                        </div>
                                        <div class="name-cart">VISA KART</div>
                                    </div>
                                    <h5 class="py-3">Ilk sifarisde 50 faiz endirim qazan</h5>
                                    <h6>
                                        "BAXRUZA100BAL" promokodundan istifade ederek ilk sifaris ucun 50 faiz
                                        endirim qazan"
                                    </h6>
                                    <div class="copy-more mt-3">
                                        <a class="mr-5" href="#">Promokodu kopyala</a>
                                        <a href="#">Etrafli</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 mt-4">
                                <div class="item">
                                    <div class="cart-icon d-flex m-0">
                                        <div class="img">
                                            <img src="~/Public/img/slider.png" alt="">
                                        </div>
                                        <div class="name-cart">VISA KART</div>
                                    </div>
                                    <h5 class="py-3">Ilk sifarisde 50 faiz endirim qazan</h5>
                                    <h6>
                                        "BAXRUZA100BAL" promokodundan istifade ederek ilk sifaris ucun 50 faiz
                                        endirim qazan"
                                    </h6>
                                    <div class="copy-more mt-3">
                                        <a class="mr-5" href="#">Promokodu kopyala</a>
                                        <a href="#">Etrafli</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 mt-4">
                                <div class="item">
                                    <div class="cart-icon d-flex m-0">
                                        <div class="img">
                                            <img src="~/Public/img/slider.png" alt="">
                                        </div>
                                        <div class="name-cart">VISA KART</div>
                                    </div>
                                    <h5 class="py-3">Ilk sifarisde 50 faiz endirim qazan</h5>
                                    <h6>
                                        "BAXRUZA100BAL" promokodundan istifade ederek ilk sifaris ucun 50 faiz
                                        endirim qazan"
                                    </h6>
                                    <div class="copy-more mt-3">
                                        <a class="mr-5" href="#">Promokodu kopyala</a>
                                        <a href="#">Etrafli</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div tab-body="favourites" class="d-none">
                        <h4>Favourites</h4>
                        <div class="row">
                            <div class="col-lg-6 col-xl-4 mt-3">
                                <div class="item p-0 m-2">
                                    <div class="img">
                                        <a href="#">
                                            <img src="~/Public/img/slider.png" alt="">
                                            <span class="promoted">Promoted</span>
                                            <i class="fas fa-heart"></i>
                                            <span class="reating"><i class="fas fa-star"></i> 3.1 (300+)</span>
                                        </a>
                                    </div>
                                    <div class="under-image">
                                        <a class="name-meal" href="#">World Famous</a>
                                        <p class="about-meal">North Indian • American • Pure veg</p>
                                        <span class="time-delivery"><i class="far fa-clock"></i> 20-25 min </span>
                                        <span class="priece-delivery">$250 FOR TWO</span>
                                        <p class="cupon">
                                            <span class="px-2">OFFER</span> 65% off | Use Coupon
                                            OSAHAN50
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-xl-4 mt-3">
                                <div class="item p-0 m-2">
                                    <div class="img">
                                        <a href="#">
                                            <img src="~/Public/img/slider.png" alt="">
                                            <span class="promoted">Promoted</span>
                                            <i class="fas fa-heart"></i>
                                            <span class="reating"><i class="fas fa-star"></i> 3.1 (300+)</span>
                                        </a>
                                    </div>
                                    <div class="under-image">
                                        <a class="name-meal" href="#">World Famous</a>
                                        <p class="about-meal">North Indian • American • Pure veg</p>
                                        <span class="time-delivery"><i class="far fa-clock"></i> 20-25 min </span>
                                        <span class="priece-delivery">$250 FOR TWO</span>
                                        <p class="cupon">
                                            <span class="px-2">OFFER</span> 65% off | Use Coupon
                                            OSAHAN50
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-xl-4 mt-3">
                                <div class="item p-0 m-2">
                                    <div class="img">
                                        <a href="#">
                                            <img src="~/Public/img/slider.png" alt="">
                                            <span class="promoted">Promoted</span>
                                            <i class="fas fa-heart"></i>
                                            <span class="reating"><i class="fas fa-star"></i> 3.1 (300+)</span>
                                        </a>
                                    </div>
                                    <div class="under-image">
                                        <a class="name-meal" href="#">World Famous</a>
                                        <p class="about-meal">North Indian • American • Pure veg</p>
                                        <span class="time-delivery"><i class="far fa-clock"></i> 20-25 min </span>
                                        <span class="priece-delivery">$250 FOR TWO</span>
                                        <p class="cupon">
                                            <span class="px-2">OFFER</span> 65% off | Use Coupon
                                            OSAHAN50
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-xl-4 mt-3">
                                <div class="item p-0 m-2">
                                    <div class="img">
                                        <a href="#">
                                            <img src="~/Public/img/slider.png" alt="">
                                            <span class="promoted">Promoted</span>
                                            <i class="fas fa-heart"></i>
                                            <span class="reating"><i class="fas fa-star"></i> 3.1 (300+)</span>
                                        </a>
                                    </div>
                                    <div class="under-image">
                                        <a class="name-meal" href="#">World Famous</a>
                                        <p class="about-meal">North Indian • American • Pure veg</p>
                                        <span class="time-delivery"><i class="far fa-clock"></i> 20-25 min </span>
                                        <span class="priece-delivery">$250 FOR TWO</span>
                                        <p class="cupon">
                                            <span class="px-2">OFFER</span> 65% off | Use Coupon
                                            OSAHAN50
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-xl-4 mt-3">
                                <div class="item p-0 m-2">
                                    <div class="img">
                                        <a href="#">
                                            <img src="~/Public/img/slider.png" alt="">
                                            <span class="promoted">Promoted</span>
                                            <i class="fas fa-heart"></i>
                                            <span class="reating"><i class="fas fa-star"></i> 3.1 (300+)</span>
                                        </a>
                                    </div>
                                    <div class="under-image">
                                        <a class="name-meal" href="#">World Famous</a>
                                        <p class="about-meal">North Indian • American • Pure veg</p>
                                        <span class="time-delivery"><i class="far fa-clock"></i> 20-25 min </span>
                                        <span class="priece-delivery">$250 FOR TWO</span>
                                        <p class="cupon">
                                            <span class="px-2">OFFER</span> 65% off | Use Coupon
                                            OSAHAN50
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-xl-4 mt-3">
                                <div class="item p-0 m-2">
                                    <div class="img">
                                        <a href="#">
                                            <img src="~/Public/img/slider.png" alt="">
                                            <span class="promoted">Promoted</span>
                                            <i class="fas fa-heart"></i>
                                            <span class="reating"><i class="fas fa-star"></i> 3.1 (300+)</span>
                                        </a>
                                    </div>
                                    <div class="under-image">
                                        <a class="name-meal" href="#">World Famous</a>
                                        <p class="about-meal">North Indian • American • Pure veg</p>
                                        <span class="time-delivery"><i class="far fa-clock"></i> 20-25 min </span>
                                        <span class="priece-delivery">$250 FOR TWO</span>
                                        <p class="cupon">
                                            <span class="px-2">OFFER</span> 65% off | Use Coupon
                                            OSAHAN50
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 text-center mt-5">
                                <h4 class=" pl-5 btn loading disabled">Yüklənir ...</h4>
                            </div>
                        </div>
                    </div>
                    <div tab-body="payments" class="d-none">
                        <h4>Ödənişlər</h4>
                        <div class="row">
                            <div class="col-6">
                                <div class="item">
                                    <div class="row">
                                        <div class="col-3 d-flex align-items-center">
                                            <div class="img"><img src="~/Public/img/slider.png" alt=""></div>
                                        </div>
                                        <div class="col-9">
                                            <div class="card-info">
                                                <h6>5239-XXXX-XXXX-9888</h6>
                                                <p>İSTİFADƏ MÜDDƏTİ: <span> 10/2020</span></p>
                                                <small><i class="fas fa-trash-alt"></i> DELETE</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="item">
                                    <div class="row">
                                        <div class="col-3 d-flex align-items-center">
                                            <div class="img"><img src="~/Public/img/slider.png" alt=""></div>
                                        </div>
                                        <div class="col-9">
                                            <div class="card-info">
                                                <h6>5239-XXXX-XXXX-9888</h6>
                                                <p>İSTİFADƏ MÜDDƏTİ: <span> 10/2020</span></p>
                                                <small><i class="fas fa-trash-alt"></i> DELETE</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="item">
                                    <div class="row">
                                        <div class="col-3 d-flex align-items-center">
                                            <div class="img"><img src="~/Public/img/slider.png" alt=""></div>
                                        </div>
                                        <div class="col-9">
                                            <div class="card-info">
                                                <h6>5239-XXXX-XXXX-9888</h6>
                                                <p>İSTİFADƏ MÜDDƏTİ: <span> 10/2020</span></p>
                                                <small><i class="fas fa-trash-alt"></i> DELETE</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="item">
                                    <div class="row">
                                        <div class="col-3 d-flex align-items-center">
                                            <div class="img"><img src="~/Public/img/slider.png" alt=""></div>
                                        </div>
                                        <div class="col-9">
                                            <div class="card-info">
                                                <h6>5239-XXXX-XXXX-9888</h6>
                                                <p>İSTİFADƏ MÜDDƏTİ: <span> 10/2020</span></p>
                                                <small><i class="fas fa-trash-alt"></i> DELETE</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="item">
                                    <div class="row">
                                        <div class="col-3 d-flex align-items-center">
                                            <div class="img"><img src="~/Public/img/slider.png" alt=""></div>
                                        </div>
                                        <div class="col-9">
                                            <div class="card-info">
                                                <h6>5239-XXXX-XXXX-9888</h6>
                                                <p>İSTİFADƏ MÜDDƏTİ: <span> 10/2020</span></p>
                                                <small><i class="fas fa-trash-alt"></i> DELETE</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="item">
                                    <div class="row">
                                        <div class="col-3 d-flex align-items-center">
                                            <div class="img"><img src="~/Public/img/slider.png" alt=""></div>
                                        </div>
                                        <div class="col-9">
                                            <div class="card-info">
                                                <h6>5239-XXXX-XXXX-9888</h6>
                                                <p>İSTİFADƏ MÜDDƏTİ: <span> 10/2020</span></p>
                                                <small><i class="fas fa-trash-alt"></i> DELETE</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div tab-body="addresses" class="d-non">
                        <h4>Ünvanlar</h4>
                        <div class="row">
                            <div class="col-6">
                                <div class="item">
                                    <div class="row">
                                        <div class="col-2">
                                            <div class="icon"><i class="fas fa-home"></i></div>
                                        </div>
                                        <div class="col-10">
                                            <div class="card-info">
                                                <h6>Home</h6>
                                                <p>Osahan House, Jawaddi Kalan, Ludhiana, Punjab 141002, India</p>
                                                <div class="edit-delete">
                                                    <small class="edit">
                                                        <i class="fas fa-edit"></i> DÜZƏLİŞ
                                                        ET
                                                    </small>
                                                    <small class="delete">
                                                        <i class="fas fa-trash-alt"></i>
                                                        SİL
                                                    </small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="item">
                                    <div class="row">
                                        <div class="col-2">
                                            <div class="icon"><i class="fas fa-briefcase"></i></div>
                                        </div>
                                        <div class="col-10">
                                            <div class="card-info">
                                                <h6>Work</h6>
                                                <p>Osahan House, Jawaddi Kalan, Ludhiana, Punjab 141002, India</p>
                                                <div class="edit-delete">
                                                    <small class="edit">
                                                        <i class="fas fa-edit"></i> DÜZƏLİŞ
                                                        ET
                                                    </small>
                                                    <small class="delete">
                                                        <i class="fas fa-trash-alt"></i>
                                                        SİL
                                                    </small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="item">
                                    <div class="row">
                                        <div class="col-2">
                                            <div class="icon"><i class="fas fa-map-marker-alt"></i></div>
                                        </div>
                                        <div class="col-10">
                                            <div class="card-info">
                                                <h6>Other</h6>
                                                <p>Osahan House, Jawaddi Kalan, Ludhiana, Punjab 141002, India</p>
                                                <div class="edit-delete">
                                                    <small class="edit">
                                                        <i class="fas fa-edit"></i> DÜZƏLİŞ
                                                        ET
                                                    </small>
                                                    <small class="delete">
                                                        <i class="fas fa-trash-alt"></i>
                                                        SİL
                                                    </small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="item">
                                    <div class="row">
                                        <div class="col-2">
                                            <div class="icon"><i class="fas fa-map-marker-alt"></i></div>
                                        </div>
                                        <div class="col-10">
                                            <div class="card-info">
                                                <h6>Other</h6>
                                                <p>Osahan House, Jawaddi Kalan, Ludhiana, Punjab 141002, India</p>
                                                <div class="edit-delete">
                                                    <small class="edit">
                                                        <i class="fas fa-edit"></i> DÜZƏLİŞ
                                                        ET
                                                    </small>
                                                    <small class="delete">
                                                        <i class="fas fa-trash-alt"></i>
                                                        SİL
                                                    </small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="item">
                                    <div class="row">
                                        <div class="col-2">
                                            <div class="icon"><i class="fas fa-map-marker-alt"></i></div>
                                        </div>
                                        <div class="col-10">
                                            <div class="card-info">
                                                <h6>Other</h6>
                                                <p>Osahan House, Jawaddi Kalan, Ludhiana, Punjab 141002, India</p>
                                                <div class="edit-delete">
                                                    <small class="edit">
                                                        <i class="fas fa-edit"></i> DÜZƏLİŞ
                                                        ET
                                                    </small>
                                                    <small class="delete">
                                                        <i class="fas fa-trash-alt"></i>
                                                        SİL
                                                    </small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="item">
                                    <div class="row">
                                        <div class="col-2">
                                            <div class="icon"><i class="fas fa-map-marker-alt"></i></div>
                                        </div>
                                        <div class="col-10">
                                            <div class="card-info">
                                                <h6>Other</h6>
                                                <p>Osahan House, Jawaddi Kalan, Ludhiana, Punjab 141002, India</p>
                                                <div class="edit-delete">
                                                    <small class="edit">
                                                        <i class="fas fa-edit"></i> DÜZƏLİŞ
                                                        ET
                                                    </small>
                                                    <small class="delete">
                                                        <i class="fas fa-trash-alt"></i>
                                                        SİL
                                                    </small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- start add new address modal -->
    <section id="add-address">
        <div class="center">
            <i class="fas fa-times"></i>
            <h4>Add Delivery Address</h4>
            <hr>
            <div class="item">
                <h6>Delivery Area</h6>
                <input type="text" class="form-control" placeholder="Delivery Area">
                <i class="fas fa-plus-circle"></i>
            </div>
            <div class="item">
                <h6>Complete Address</h6>
                <input type="text" class="form-control" placeholder="Ünvanı tamamlayın. Bina, mərtəbə, mənzil...">
            </div>
            <div class="item">
                <h6>Ünvan təlimatı</h6>
                <input type="text" class="form-control" placeholder="Ünvan haqqında əlavə məlumat">
            </div>
            <div class="item">
                <h6>Nickname</h6>
                <div class="d-flex">
                    <button class="selected">Home</button>
                    <button>Work</button>
                    <button>Other</button>
                </div>
            </div>
            <hr>
            <div class="d-flex justify-content-between">
                <div class="cancel">CANCEL</div>
                <div class="submit">SUBMIT</div>
            </div>
        </div>
    </section>
    <!-- End add new address modal -->
    <!-- Start edit profile modal -->
    <section id="edit-profile">
        <div class="center">
            <i class="fas fa-times"></i>
            <h4>Məlumatlarım</h4>
            <hr>
            <p>Phone Number</p>
            <input type="text" class="form-control" placeholder="+994 55 123 45 67">
            <p>E-poçt</p>
            <input type="text" class="form-control" placeholder="ehmedovbehruz1995@mail.ru">
            <p>Password</p>
            <input type="text" class="form-control" placeholder="************">
            <div class="d-flex justify-content-between">
                <div class="cancel">BAĞLA</div>
                <div class="submit">YENILƏ</div>
            </div>
        </div>
    </section>
    <!-- End edit profile mmodal -->
</main>

<!-- End Main -->
